body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

nav {
  float: right;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #ddd;
}

main {
  padding: 20px
}
main h2 {
  margin-top: 20px;
}

main p {
  line-height: 1.5;
}

main img {
  width: 100%;
  margin: 10px 0;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
